/* [START maps_marker_simple] */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        align-items: center;
        height: "10px";
        width: "10px";
        margin-top: 10px;
      }

      /* customMap */
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      /* [END maps_marker_simple] */